ion-content {
    --background: url("https://i.pinimg.com/564x/1f/6a/8c/1f6a8ce2591fe5342804fc31c8aa5093.jpg") 0 0/100% 100% no-repeat;
}

.loading {
    z-index: 10 !important;
    width: 150px;
    height: 150px;
    position: fixed !important;
    top: 35%;
    left: 30%;
}