.loading {
    z-index: 10 !important;
    width: 150px;
    height: 150px;
    position: fixed !important;
    top: 35%;
    left: 30%;
}

ion-card * {
    color: #ffffff;
}

.error-message {
    padding: 0 10px;
    color: var(--ion-color-cubiertos);
}