<ion-header color="fondo">
    <ion-toolbar color="fondo">
        <ion-back-button defaultHref="/" slot="start" icon="arrow-back-circle"></ion-back-button>
        <ion-title>Alta empleado</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
        <img src="../../assets/icon/gifAnimado.gif" class="loading">
    </div>
    <ion-card *ngIf='!splash'>
        <ion-card-header>
            <div align="center">
                <img [src]="usuarioJson.foto" alt="" width="100px" height="100px" class="icon">
            </div>
        </ion-card-header>
        <ion-item>
            <ion-label>Tipo:</ion-label>
            <ion-select [(ngModel)]="pickedName" interface="popover" placeholder="Seleccione" (ionChange)="pickerUser(pickedName)">
                <ion-select-option *ngFor="let usuario of listaPerfiles" value="{{usuario.perfil}}">{{usuario.perfil}}</ion-select-option>
            </ion-select>
        </ion-item>
        <form [formGroup]="miFormulario">
            <ion-item fill="outline">
                <br>
                <ion-input type="text" [(ngModel)]="usuarioJson.nombre" formControlName="nombre" placeholder="Nombre"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.nombre">
                    <div class="error-message" *ngIf="miFormulario.get('nombre').hasError(validation.type) && (miFormulario.get('nombre').dirty || miFormulario.get('nombre').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <br>
                <ion-input type="text" [(ngModel)]="usuarioJson.apellido" formControlName="apellido" placeholder="Apellido"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.apellido">
                    <div class="error-message" *ngIf="miFormulario.get('apellido').hasError(validation.type) && (miFormulario.get('apellido').dirty || miFormulario.get('apellido').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <br>
                <ion-input type="text" [(ngModel)]="usuarioJson.dni" formControlName="dni" placeholder="DNI"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.dni">
                    <div class="error-message" *ngIf="miFormulario.get('dni').hasError(validation.type) && (miFormulario.get('dni').dirty || miFormulario.get('dni').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <br>
                <ion-input type="text" [(ngModel)]="usuarioJson.cuil" formControlName="cuil" placeholder="CUIL"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.cuil">
                    <div class="error-message" *ngIf="miFormulario.get('cuil').hasError(validation.type) && (miFormulario.get('cuil').dirty || miFormulario.get('cuil').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <br>
                <ion-input type="text" [(ngModel)]="usuarioJson.correo" formControlName="correo" placeholder="Correo"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.correo">
                    <div class="error-message" *ngIf="miFormulario.get('correo').hasError(validation.type) && (miFormulario.get('correo').dirty || miFormulario.get('correo').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <br>
                <ion-input type="password" [(ngModel)]="usuarioJson.contrasenia" formControlName="contrasenia" placeholder="Contraseña..."></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.contrasenia">
                    <div class="error-message" *ngIf="miFormulario.get('contrasenia').hasError(validation.type) && (miFormulario.get('contrasenia').dirty || miFormulario.get('contrasenia').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
        </form>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-button (click)="escanearDni()" color='cubiertos' class="btnRegistro" expand="block">QR DNI</ion-button>
                </ion-col>
                <ion-col col-6>
                    <ion-button (click)="tomarFotografia()" color='cubiertos' class="btnRegistro" expand="block">Tomar foto</ion-button>
                </ion-col>
            </ion-row>
            <ion-button (click)="registrar(usuarioJson.perfil)" color='cubiertos' class="btnRegistro" [disabled]="!miFormulario.valid" expand="block">Registrarse</ion-button>
        </ion-grid>
    </ion-card>
</ion-content>