ion-content{
  --background: #81579E;
  --overflow: hidden;
}


#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #81579E;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  //De esta forma puedo cambiarle el color por que si le pongo background no te lo cambia pero con --background si
  // junto con el # y su codigo.
  // ion-content{
  //   --background: #20267f;
  // }
  @-webkit-keyframes vibrate-3{0%{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}20%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}30%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}50%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}70%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}80%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}90%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-3{0%{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}20%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}30%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}50%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}70%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}80%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}90%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}
  .container{
    -webkit-animation:vibrate-3 .5s linear infinite both;animation:vibrate-3 .5s linear infinite both;
    
    img{
    margin-top: 20px;
    height: 250px;
    width: 300px;
    }
  }
  
  h1{
    text-decoration: dashed;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .marginn{
    margin-top: 100px;
  }
  .mar{
    margin-top :40px;
  }
  
  img{
    display: flex;
    margin: 0 auto;
    margin-top: 2em;
    height: 10em;
    align-self: center;
    justify-self: center;
  }