<ion-header>
    <ion-toolbar color="fondo">
        <ion-back-button defaultHref="/" slot="start" icon="arrow-back-circle"></ion-back-button>
        <h3 class="titulo">Encuestas</h3>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
        <img src="../../../assets/icon/gifAnimado.gif" class="loading">
    </div>
    <ng-container *ngIf='!splash'>
        <h2 style="padding: 10px;">Cantidad de encuestas: {{cantEncuestas}}</h2>
        <div id='char_div'></div>
        <div id='char_divTwo'></div>
        <div id='char_divThree'></div>
        <div id='char_divFour'></div>
        <div id='char_divFive'></div>
    </ng-container>
</ion-content>